body{
    font-size: 16px;
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
    text-align: center;
    text-decoration: underline;
}
form{
    width: 300px;
    background-color: antiquewhite;
    padding: 15px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
}
label{
    color: #010101;
    font-size: 80%;
}
input,select{
    border: 1px solid black;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
}
.row{
    padding-bottom: 10px;
}
.form-inline{
    border: 1px solid #ccc;
    padding: 8px 10px 4px;
    border-radius: 2px;
}
.form-inline label, .form-inline input{
    display: inline-block;
    width: auto;
    padding-right: 15px;
}
.error{
    color: red;
    font-size: 90%;
}
input[type="submit"]{
    font-size: 110%;
    font-weight: 100;
    background-color: rgb(177, 186, 174);
    border-color: rgb(255, 255, 255);
    box-shadow: 0 3px 0 rgb(123, 115, 115);
    margin-top: 10px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: green;
}